<div class="col col-xl-6 col-sm-6">
  <div id="liveDataChart" style="width: 100%; height: 500px"></div>
</div>
<div class="col col-xl-6 col-sm-6">
  <div id="lineChartRange" style="width: 100%; height: 500px"></div>
</div>
<div class="col col-xl-6 col-sm-6">
  <div id="highLightLineChart" style="width: 100%; height: 500px"></div>
</div>
<div class="col col-xl-6 col-sm-6">
  <div id="dataGroupChart" style="width: 100%; height: 500px"></div>
</div>
<div class="col col-xl-6 col-sm-6">
  <div id="rangeChart" style="width: 100%; height: 500px"></div>
</div>
<div class="col col-xl-6 col-sm-6">
  <div id="dateBasedData" style="width: 100%; height: 500px"></div>
</div>
<div class="col col-xl-6 col-sm-6">
  <div id="lineChartZoom" style="width: 100%; height: 500px"></div>
</div>
<div class="col col-xl-6 col-sm-6">
  <div id="drawingChartSeries" style="width: 100%; height: 500px"></div>
</div>
<div class="col col-xl-6 col-sm-6">
  <div id="comparingDataChart" style="width: 100%; height: 500px"></div>
</div>
<div class="col col-xl-6 col-sm-6">
  <div id="durationValueAxis" style="width: 100%; height: 500px"></div>
</div>
<div class="col col-xl-6 col-sm-6">
  <div id="animateBulletSeries" style="width: 100%; height: 500px"></div>
</div>
<div class="col col-xl-6 col-sm-6">
  <div id="upsDownLineChart" style="width: 100%; height: 500px"></div>
</div>
<div class="col col-xl-6 col-sm-6">
  <div id="zoomValueAxisChart" style="width: 100%; height: 500px"></div>
</div>
<div class="col col-xl-6 col-sm-6">
  <div id="smoothLineChart" style="width: 100%; height: 500px"></div>
</div>
<div class="col col-xl-6 col-sm-6">
  <div id="trendLineChart" style="width: 100%; height: 500px"></div>
</div>
<div class="col col-xl-6 col-sm-6">
  <div id="lineChartChangingColor" style="width: 100%; height: 500px"></div>
</div>
<div class="col col-xl-6 col-sm-6">
  <div id="fullStackedAreaChart" style="width: 100%; height: 500px"></div>
</div>
<div class="col col-xl-6 col-sm-6">
  <div id="areaWithTimeChart" style="width: 100%; height: 500px"></div>
</div>
<div class="col col-xl-6 col-sm-6">
  <div id="stepLineNoRisers" style="width: 100%; height: 500px"></div>
</div>
<div class="col col-xl-6 col-sm-6">
  <div id="lineChartCustomBullet" style="width: 100%; height: 500px"></div>
</div>
<div class="col col-xl-6 col-sm-6">
  <div id="verticalLineChart" style="width: 100%; height: 500px"></div>
</div>
