<div>
  <div id="ganttChart" style="width: 100%; height: 500px"></div>
</div>
<div>
  <div id="stackedAreaChart" style="width: 100%; height: 500px"></div>
</div>

<div>
  <div id="venndiagramChart" style="width: 100%; height: 500px"></div>
</div>

<div>
  <div id="rangeAreaChart" style="width: 100%; height: 500px"></div>
</div>

<div>
  <div id="stepLineChart" style="width: 100%; height: 500px"></div>
</div>

<div>
  <div id="scatterChart" style="width: 100%; height: 500px"></div>
</div>

<div>
  <div id="waterFallChart" style="width: 100%; height: 500px"></div>
</div>

<div>
  <div id="donutChart" style="width: 100%; height: 500px"></div>
</div>

<div>
  <div id="nestedDonutChart" style="width: 100%; height: 500px"></div>
</div>

<div>
  <div id="semiCirclePieChart" style="width: 100%; height: 500px"></div>
</div>

<div>
  <div id="clusteredBarChart" style="width: 100%; height: 500px"></div>
</div>

<div>
  <div id="stackedBarChart" style="width: 100%; height: 500px"></div>
</div>

<div>
  <div id="stackedAreaChart" style="width: 100%; height: 500px"></div>
</div>

<div>
  <div id="stackedAreaChart" style="width: 100%; height: 500px"></div>
</div>

<div>
  <div id="stackedAreaChart" style="width: 100%; height: 500px"></div>
</div>

<div>
  <div id="stackedAreaChart" style="width: 100%; height: 500px"></div>
</div>

<div>
  <div id="stackedAreaChart" style="width: 100%; height: 500px"></div>
</div>

<div>
  <div id="stackedAreaChart" style="width: 100%; height: 500px"></div>
</div>

<div>
  <div id="stackedAreaChart" style="width: 100%; height: 500px"></div>
</div>

<div>
  <div id="stackedAreaChart" style="width: 100%; height: 500px"></div>
</div>
